* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
}

/* NavBar */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  height: 90px;
  box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  width: max-content;
}

nav ul li {
  list-style: none;
  margin: center;
  margin: 0 23px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 1.25rem;
}

nav ul li a:hover {
  color: blue;
}

nav img {
  border-radius: 50%;
  width: 60px;
  margin-right: 20px;
}


.nav-text {
  color: blue;
}

/* First Section */

.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 60px 0px;
  align-items: center;
}

.firstSection>div {
  width: 36%;
}

/* Left Section */

.left {
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

.leftSection {
  font-size: 3rem;
}

.leftSection .buttons {
  padding: 50px 0;
}

.btn1 {
  padding: 12px;
  background-color: #49499e;
  color: white;
  margin: 2px;
  border: 2px solid white;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.btn1::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.8s;
}

.btn1:hover::before {
  width: 100%;
}

.btn1:hover {
  border: 2px solid #4154cc;
  color: black;
}

.btn2 {
  padding: 12px;
  background: #ffffff;
  color: #000000;
  border: 2px solid #4154cc;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.text-purple {
  --tw-text-opacity: 1;
  font-weight: bold;
  color: rgb(102 116 204 / var(--tw-text-opacity));
}

.text-gray {
  color: gray;
}

#profession,
#name {
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(102 116 204 / var(--tw-text-opacity));
}

/* Right Section */

.rightSection img {
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

/* Bottom hr */
main hr {
  background: #000000;
  margin-bottom: 100px;
  height: 2px;
}

/* Section Section */

.secondSection {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  position: relative;
  bottom: 50px;
}

.mainHeading {
  text-decoration: underline;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

.workHeading {
  margin: 4rem 0;
  font-size: 2.5rem;
  text-decoration: overline;
  text-align: center;
  color: #49499e;
  font-weight: bolder;
}

.mainInternSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.internSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.internImg {
  width: 10rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.descIntern {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roleIntern {
  font-size: 1.5rem;
}

/* Footer */

footer {
  background-color: #007aff;
  background-image: radial-gradient(#2c33ba 0.5px, #49499e 1.2px);
  background-size: 10px 10px;
  font-size: x-large;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}

.footer-img {
  border-radius: 50%;
}

.footer-text {
  width: 80px;
  margin: 15px 0;
}

.footer-main-head {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
}

.footer-heading {
  margin: 10px 0;
}

.footer ul {
  list-style: none;
}

.footer-hr1 hr {
  border: 0;
  background: #ffffff;
  height: 1.2px;
  margin: 102px -14px;
  rotate: 90deg;
}

footer .footer-rights {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 12px 0;
}

.footer-heading {
  font-weight: bolder;
}

.footer-first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-second,
.footer-third,
.footer-fourth {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Bottom-hr */
.bottom-hr {
  margin-top: 20px;
}

/* Login Signup */
#submit-login {
  color: #484242;
  border: 1px solid #acc5df;
  background: #f7f7f7;
}

#submit-signup {
  color: #484242;
  border: 1px solid #acc5df;
  background: #f7f7f7;
}

/* Others */

.xl\:w-1\/2 {
  width: 100%;
}

.py-tb {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/* Responsiveness CSS */

@media screen and (max-width: 1000px) {
  nav {
    flex-direction: column;
    height: 10rem;
  }

  nav img {
    width: 100px;
  }

  .firstSection {
    flex-direction: column-reverse;
    text-align: center;
    height: fit-content;
  }

  .firstSection>div {
    width: 70%;
    margin: 35px 0;
  }

  .leftSection {
    width: 100% !important;
  }

  .left {
    font-size: 4.5rem;
  }

  .mainHeading {
    text-align: center;
  }

  .mainInternSection {
    flex-direction: column;
    gap: 2rem;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .left {
    font-size: 3.5rem;
  }

  nav {
    height: 8rem;
  }

  nav ul li a {
    font-size: 1rem;
  }

  .secondSection {
    position: relative;
    bottom: 50px;
  }

  .footer-rights {
    font-size: large;
  }

  .firstSection>div {
    width: 90%;
  }

  .descIntern {
    font-size: 1.5rem;
    text-align: center;
  }

  .roleIntern {
    font-size: 1rem;
  }

  .footer-second,
  .footer-third,
  .footer-fourth {
    font-size: large;
  }

  .footer-rights {
    font-size: small;
  }
}

@media screen and (max-width: 550px) {

  nav {
    height: 6rem;
  }

  nav ul li a {
    font-size: 0.8rem;
  }

  nav img {
    width: 60px;
  }

  .leftSection {
    font-size: xx-large;
  }

  .left {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 460px) {
  nav {
    height: 5.5rem;
  }

  nav img {
    width: 60px;
  }

  nav ul li a {
    font-size: 0.48rem;
  }

  .left {
    font-size: 2rem;
  }

  .mainHeading {
    font-size: 2rem;
  }

  .workHeading {
    margin: 3rem 0;
    font-size: 1.5rem;
  }

  .internImg{
    width: 8rem;
  }

  .descIntern {
    font-size: 1rem;
  }

  .roleIntern {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 350px) {
  nav {
    height: 5.5rem;
  }

  nav ul li a {
    font-size: 0.4rem;
  }

  .left {
    font-size: 1.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media screen and (max-width: 330px) {
  nav ul li a {
    font-size: 0.27rem;
  }

  .footer-email {
    font-size: smaller;
  }
}

@media screen and (max-width: 300px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav img {
    margin-right: 10px;
  }

  nav ul li a {
    font-size: 1rem;
  }

  nav {
    height: 12rem;
  }

  .mainHeading {
    font-size: 1.4rem;
  }

  .workHeading {
    font-size: 1rem;
  }
}